
.image {
  margin-top: -101px; /* Ajusta el margen superior según tu preferencia */
  margin-left: -10px; /* Ajusta el margen izquierdo según tu preferencia */
  position: fixed; /* Cambiado de comillas simples a sin comillas */
  width: 33.3333333333%;
  background: url("https://loginunico.viabcp.com/assets/img/ciam/bydefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 100%;
}
/* Estilo para la imagen del logo */

.logo {
  position: absolute;
  width: 5%;
  height: 10%;
  margin-top: -101px; /* Ajusta el margen superior según tu preferencia */
  margin-left: 20px; /* Ajusta el margen izquierdo según tu preferencia */
  z-index: 1; /* Coloca el logo encima de la imagen de fondo */
}
.asistenteCuy{
  margin-top: -120px; 
  margin-left: 1500px; 
  width: 18%;

}
.form-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente el contenido */
  justify-content: center; /* Centra verticalmente el contenido */
  font-family: 'Ubuntu', sans-serif;  
  margin-left: 500px; /* Ajusta el margen izquierdo según tu preferencia */
  margin-top: 100px; /* Ajusta el margen superior según tu preferencia */

}
.form-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}


/* Estilo para los radios de "Persona" y "Empresa" */
.form-container label input[type="radio"] {
  margin-right: 10px;
}

/* Estilo para los campos de entrada de texto */
.form-container label input[type="text"],
.form-container label input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #beb5b5;
  border-radius: 4px;
}

/* Estilo para el checkbox "Recordar datos" */
.form-container label input[type="checkbox"] {
  margin-right: 10px;
}

/* Estilo para el botón "Continuar" con fondo naranja */
.orange-button {
  background-color: #ff7800;
  color: white;
  padding: 10px 150px; /* Aumenta el relleno para hacerlo más largo y ancho */
  border: none;
  border-radius: 40px; /* Aumenta el radio del borde para hacerlo más largo y ancho */
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
/* Estilo para el título "BANCA POR INTERNET" */
.form-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #002a8d; /* Cambia el color del texto a azul */
}




/* Estilo para el formulario */
.form-container {
  font-family: 'Ubuntu', sans-serif;
}

/* Estilo para el título "BANCA POR INTERNET" */
.form-container h1 {
  font-family: 'Ubuntu', sans-serif;
}
/* Desenfoque Ventana emergente */
/* Estilos para el fondo difuminado cuando la ventana modal está abierta */
body.blur {
  filter: blur(5px); /* Ajusta la intensidad del efecto de desenfoque según tus preferencias */
  pointer-events: none;
}

/* Estilos para la ventana modal */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(53, 50, 50, 0.7); /* Fondo semitransparente */
  
}

.modal-content {
  background-color: #34a7ee; /* Fondo blanco semitransparente */
  margin: 5% auto;
  padding: 20px;
  border: px solid #ffffff;
  width: 70%; /* Ajusta el ancho de la ventana modal según tus preferencias */
  height: 70%; /* Ajusta la altura de la ventana modal según tus preferencias */
  max-width: 800px; /* Establece un ancho máximo si lo deseas */
  position: relative;
  border-radius: 40px; /* Aumenta el radio del borde para hacerlo más largo y ancho */

}

.close {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.modal-content .blue-button {
  background-color: #002a8d;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 100px;
  margin-left: 100px;
  position: absolute; /* Cambiar a posición absoluta */
  bottom: 32px; /* Alineación inferior fija */
  right: 180px; /* Alineación derecha fija */
  
}

.inputModal {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #837de2;
  border-radius: 15px;
  background-color: #7094f0;
  margin-top: 500px;
  margin-left: 30px;
  position: absolute; /* Cambiar a posición absoluta */
  bottom: 20px; /* Alineación inferior fija */

}
.inputModal::placeholder {
  color: #000000; /* Cambia el color del marcador de posición a rojo (#FF0000) */
}

